#Практическое упражнение

1. Создайте репозиторий в своем Github.
2. Склонируйте репозиторий на локальный компьютер для дальнейшей работы.
3. Скачайте данный ноутбук и выполните задание (можно в Colab).
4. Положите готовый ноутбук в проект и закомитьте изменения (в т.ч. залейте изменения в репозиторий Github).

###Задача 1
Имеется последовательность кодирующей цепочки ДНК `aagaatgtatatgtctgacacgttagcctggtgactaagtagtaatactcaatgggcggttaaagcgc`. 

1) выведите количество символов

In [52]:
seq = 'aagaatgtatatgtctgacacgttagcctggtgactaagtagtaatactcaatgggcggttaaagcgc'
print(len(seq))

68

2) выведите символы в последовательности начиная с 2 по 15

In [53]:
print(seq[2:15])

gaatgtatatgtc

3) выведите последовательность в обратном порядке

In [54]:
print(seq[::-1])

cgcgaaattggcgggtaactcataatgatgaatcagtggtccgattgcacagtctgtatatgtaagaa

4) найдите количество вхождения каждого нуклеотида в последовательность

In [55]:
bases = {name: 0 for name in 'atgc'}
for base in seq:
  if base == 'a':
    bases[base] +=1
  elif base == 't':
    bases[base] += 1
  elif base == 'g':
    bases[base] += 1
  else:
    bases[base] += 1

for base in bases:
  print(f"{base} = {bases[base]}")

a = 21
t = 18
g = 18
c = 11

###Задача 2
Имеется последовательность кодирующей цепочки ДНК `acgttaattagcagctgacggagtaatccccaaacctggagacgatgtat`.

1) Создайте словарь транскрипции нуклеотидов ДНК в РНК

In [56]:
seq = 'acgttaattagcagctgacggagtaatccccaaacctggagacgatgtat'
trans_dict = {dna: rna for dna, rna in zip('atgc', 'uacg')}
print(trans_dict)

{'a': 'u', 't': 'a', 'g': 'c', 'c': 'g'}

2) Найдите последовательность РНК, которая образуется в результате транскрипции

In [57]:
rna_seq = ''
for base in seq:
  rna_seq += trans_dict[base]

print(rna_seq)

ugcaauuaaucgucgacugccucauuagggguuuggaccucugcuacaua

###Задача 3
Выведите все четные числа из списка 

```
numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]
```

в том же порядке, прекратите вывод, как только любое из чисел будет меньше 237

In [58]:
result = []
numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]
for num in numbers:
  if num < 237:
    break
  elif num % 2 == 0:
    result.append(num)
  
print(*result)

386 462

###Задача 4
Напишите программу, которая удалит дубликаты из списка

In [23]:
test_list=['Eeny', 'meeny', 'miney', 'moe', 'Catch', 'a', 'tiger', 'by', 'his', 'toe', 'If', 'he', 'squeals', 'let', 'him', 'go', 'Eeny', 'meeny', 'miney', 'moe']

In [59]:
test_dict = dict()
for name in test_list:
  if name in test_dict:
    test_dict[name] += 1
  else: test_dict[name] = 1

result = []

for name in test_dict:
  if test_dict[name] == 1:
    result.append(name)
print(result)

['Catch', 'a', 'tiger', 'by', 'his', 'toe', 'If', 'he', 'squeals', 'let', 'him', 'go']

###Задача 5
Сложите значения в словарях, согласно ключам

```
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

Ожидаемый результат: {'a': 400, 'b': 400, 'd': 400, 'c': 300}
```

In [51]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

result = dict()
used = set()

for key1 in d1:
  if key1 in used:
    continue
  elif key1 in d2:
      result[key1] = d1[key1] + d2[key1]
      used.add(key1)
  else:
    result[key1] = d1[key1]
  

for key2 in d2:
  if key2 not in used:
    result[key2] = d2[key2]

print(result)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

###Задача 6
Имеется последовательность кодирующей цепочки ДНК `aagaatgtatatgtctgacacgttagcctggtgactaagtagtaatactcaatgggcggttaaagcgc`.

Напишите функцию, которая будет принимать один параметр на вход - последовательность ДНК в виде строки, и возвращать количество вхождения каждого нуклеотида в нее в виде словаря.

In [60]:
def foo(seq):
  bases = {name: 0 for name in 'atgc'}
  for base in seq:
    if base == 'a':
      bases[base] +=1
    elif base == 't':
      bases[base] += 1
    elif base == 'g':
     bases[base] += 1
    else:
      bases[base] += 1
  return bases

print(foo('atttgc'))

{'a': 1, 't': 3, 'g': 1, 'c': 1}