#Практическое упражнение

1. Создайте репозиторий в своем Github.
2. Склонируйте репозиторий на локальный компьютер для дальнейшей работы.
3. Скачайте данный ноутбук и выполните задание (можно в Colab).
4. Положите готовый ноутбук в проект и закомитьте изменения (в т.ч. залейте изменения в репозиторий Github).

###Задача 1
Имеется последовательность кодирующей цепочки ДНК `aagaatgtatatgtctgacacgttagcctggtgactaagtagtaatactcaatgggcggttaaagcgc`. 

1) выведите количество символов

In [ ]:
seq = 'aagaatgtatatgtctgacacgttagcctggtgactaagtagtaatactcaatgggcggttaaagcgc'
print(len(seq))

68

2) выведите символы в последовательности начиная с 2 по 15

In [ ]:
print(seq[2:15])

gaatgtatatgtc

3) выведите последовательность в обратном порядке

In [ ]:
print(seq[::-1])

cgcgaaattggcgggtaactcataatgatgaatcagtggtccgattgcacagtctgtatatgtaagaa

4) найдите количество вхождения каждого нуклеотида в последовательность

In [ ]:
bases = 'atgc'
for base in bases:
  print(f'{base}: {seq.count(base)}')

a: 21
t: 18
g: 18
c: 11

###Задача 2
Имеется последовательность кодирующей цепочки ДНК `acgttaattagcagctgacggagtaatccccaaacctggagacgatgtat`.

1) Создайте словарь транскрипции нуклеотидов ДНК в РНК

In [ ]:
seq = 'acgttaattagcagctgacggagtaatccccaaacctggagacgatgtat'
trans_dict = {dna: rna for dna, rna in zip('atgc', 'uacg')}
print(trans_dict)

{'a': 'u', 't': 'a', 'g': 'c', 'c': 'g'}

2) Найдите последовательность РНК, которая образуется в результате транскрипции

In [ ]:
rna_seq = ''
for base in seq:
  rna_seq += trans_dict[base]

print(rna_seq)

ugcaauuaaucgucgacugccucauuagggguuuggaccucugcuacaua

###Задача 3
Выведите все четные числа из списка 

```
numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]
```

в том же порядке, прекратите вывод, как только любое из чисел будет меньше 237

In [ ]:
result = []
numbers = [    
    386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 
    399, 162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 
    815, 67, 104, 58, 512, 24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 
    958,743, 527
    ]
for num in numbers:
  if num < 237:
    break
  elif num % 2 == 0:
    result.append(num)
  
print(*result)

386 462

###Задача 4
Напишите программу, которая удалит дубликаты из списка

In [ ]:
test_list=['Eeny', 'meeny', 'miney', 'moe', 'Catch', 'a', 'tiger', 'by', 'his', 'toe', 'If', 'he', 'squeals', 'let', 'him', 'go', 'Eeny', 'meeny', 'miney', 'moe']

In [ ]:
test_set = set(test_list)
print(test_set)

{'he', 'Catch', 'squeals', 'go', 'moe', 'let', 'miney', 'his', 'by', 'him', 'toe', 'If', 'tiger', 'a', 'meeny', 'Eeny'}

###Задача 5
Сложите значения в словарях, согласно ключам

```
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}

Ожидаемый результат: {'a': 400, 'b': 400, 'd': 400, 'c': 300}
```

In [ ]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}


result = dict()

keys = set(list(d1.keys()) + list(d2.keys()))


for key in keys:
  if key in d1 and key in d2:
    result[key] = d1[key] + d2[key]
  elif key in d1:
    result[key] = d1[key]
  else:
    result[key] = d2[key]

print(result)

{'d': 400, 'b': 400, 'c': 300, 'a': 400}

###Задача 6
Имеется последовательность кодирующей цепочки ДНК `aagaatgtatatgtctgacacgttagcctggtgactaagtagtaatactcaatgggcggttaaagcgc`.

Напишите функцию, которая будет принимать один параметр на вход - последовательность ДНК в виде строки, и возвращать количество вхождения каждого нуклеотида в нее в виде словаря.

In [ ]:
def foo(seq):
  bases = {name: 0 for name in 'atgc'}
  for base in bases:
    bases[base] = seq.count(base)
  return bases

print(foo('atttgc'))

{'a': 1, 't': 3, 'g': 1, 'c': 1}